/*----footer----*/
.footer__inner {
  padding: 30px 0px;
  text-align: center;
  line-height: 1.5;
  color: #7b6f6f;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  border-top: 1px solid rgb(255, 255, 255);
}

.contact-icon {
  background-color: #000000;
  opacity: 0.5;
  height: 30px;
  -webkit-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
  -webkit-transition: scale 0.1s linear;
  -o-transition: scale 0.1s linear;
  transition: scale 0.1s linear;
}
.contact-icon:hover {
  opacity: 0.8;
  scale: 1.05;
}

.footer__inner-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__inner-copyrigt {
  color: #cabdbd;
}

.footer__inner-contacts {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__inner-contacts a {
  margin-right: 5px;
}
.footer__inner-contacts a:last-child {
  margin-right: 0;
}

.contact-icon {
  display: block;
  height: 16px;
}

.e-mail {
  margin-right: 10px;
}